<script type="module" src="partials/chart1/chart1.js"></script>
<section
  class="
    justify-between
    flex flex-wrap
    gap-8
    px-8
    sm:px-12
    md:px-16
    lg:px-20
    bg-white-dot-pattern
    relative
    py-10
    sm:py-12
    md:py-14
    lg:py-16
    mx-auto
    max-w-5xl
  "
>
  <ul class="max-w-[200px] flex flex-col gap-2 text-sm justify-center">
    <li class="pl-6 relative">
      <span
        class="absolute left-0 top-1 w-4 h-4 rounded bg-[#1E1A5A] inline-block"
      ></span>
      Internet Of Things
    </li>
    <li class="pl-6 relative">
      <span
        class="absolute left-0 top-1 w-4 h-4 rounded bg-[#332F66] inline-block"
      ></span>
      Datenforschung
    </li>
    <li class="pl-6 relative">
      <span
        class="absolute left-0 top-1 w-4 h-4 rounded bg-[#4A4878] inline-block"
      ></span>
      Datenvisualisierung
    </li>
    <li class="pl-6 relative">
      <span
        class="absolute left-0 top-1 w-4 h-4 rounded bg-[#636188] inline-block"
      ></span>
      Weiteres
    </li>
    <li class="pl-6 relative">
      <span
        class="absolute left-0 top-1 w-4 h-4 rounded bg-[#787696] inline-block"
      ></span>
      Datenstudie
    </li>
    <li class="pl-6 relative">
      <span
        class="absolute left-0 top-1 w-4 h-4 rounded bg-[#9695AE] inline-block"
      ></span>
      Datenlehre
    </li>
    <li class="pl-6 relative">
      <span
        class="absolute left-0 top-1 w-4 h-4 rounded bg-[#B4B4C7] inline-block"
      ></span>
      Journalismus
    </li>
  </ul>
  <div class="order-first lg:order-none">
    <canvas id="chart1"></canvas>
  </div>
  <ul class="max-w-[200px] flex flex-col gap-2 text-sm justify-center">
    <li class="pl-6 relative">
      <span
        class="absolute left-0 top-1 w-4 h-4 rounded bg-[#8330FF] inline-block"
      ></span>
      Datenarchitektur
    </li>
    <li class="pl-6 relative">
      <span
        class="absolute left-0 top-1 w-4 h-4 rounded bg-[#46ECA1] inline-block"
      ></span>
      Datenwissenschaft
    </li>
    <li class="pl-6 relative">
      <span
        class="absolute left-0 top-1 w-4 h-4 rounded bg-[#0000C2] inline-block"
      ></span>
      Datenanalyse
    </li>
  </ul>
</section>
