<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STORY_TITLE - Stadtpuls Stories</title>
    <meta name="description" content="STORY_DESCRIPTION" />

    <meta property="og:type" content="article" />

    <meta name="theme-color" content="#8330ff" />
    <meta name="keywords" content="STORY_KEYWORDS" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <meta itemprop="name" content="STORY_TITLE" />
    <meta itemprop="description" content="STORY_DESCRIPTION" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="STORY_AUTHOR_TWITTER_ACCOUNT" />
    <meta name="twitter:title" content="STORY_TITLE" />
    <meta name="twitter:description" content="STORY_DESCRIPTION" />

    <meta property="og:title" content="STORY_TITLE" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="de-DE" />
    <meta property="og:url" content="https://stories.stadtpuls.com/STORY_SLUG" />
    <meta property="og:description" content="STORY_DESCRIPTION" />
    <meta property="og:site_name" content="Stadtpuls Stories" />

    <meta itemprop="image" content="/template/images/social-image.jpg" />
    <meta name="twitter:image" content="/template/images/social-image.jpg" />
    <meta property="og:image" content="/template/images/social-image.jpg" />

    <link rel="apple-touch-icon" href="/common/images/favicons/apple-touch-icon.png" />

    <link href="/common/images/favicons/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link href="/common/images/favicons/favicon.ico.png" type="image/png" rel="icon" />
    <link href="/common/images/favicons/favicon-32x32.png" type="image/png" rel="icon" />

    <link rel="manifest" href="/manifest.json" />

    <link rel="author" href="https://www.citylab-berlin.org/" />
    <link rel="stylesheet" href="/common/vendor/css/preflight-2.2.17.css" />
    <link rel="stylesheet" href="/common/vendor/css/typography.min.css" />
    <link rel="stylesheet" href="/common/styles.css" />
    <link rel="stylesheet" href="/common/vendor/css/shades-of-purple.min.css" />
    <link rel="stylesheet" href="/common/vendor/css/mapbox-gl.min.css" />
  </head>
  <body>
    <main>
      <header class="black-dot-pattern">
        <section>
          <img
            class="header-hero-img"
            src="/template/images/story-cover.jpg"
            aria-hidden="true"
          />
          <div class="header-hero-color" aria-hidden="true"></div>
          <div class="header-hero-squares" aria-hidden="true"></div>
          <a
            href="/"
            title="Stadtpuls Stories Übersicht"
            class="header-logo"
          >
            <img src="/common/images/logo.svg" alt="Stadtpuls Logo" width="157px" />
            <span>Stories</span>
          </a>
<a href="/" title="Back to the overview" class="header-back-link" >
  ← Alle Stories
</a>
<div itemscope itemtype="http://schema.org/Article">
  <h1 class="header-title" itemprop="name">
    STORY_TITLE
  </h1>
  <p class="header-publication-info">
    <a
      class="header-profile-link"
      href="https://stadtpuls.com/accounts/STORY_AUTHOR_1_STADTPULS_USERNAME"
      target="_blank"
      rel="noreferrer noopener"
      itemprop="author"
    >
      <span>STORY_AUTHOR_1_DISPLAY_NAME</span>
    </a>
              <span class="header-profile-separator">&</span>
              <a
                class="header-profile-link"
                href="https://stadtpuls.com/accounts/STORY_AUTHOR_2_STADTPULS_USERNAME"
                target="_blank"
                rel="noreferrer noopener"
                itemprop="author"
              >
                <span>STORY_AUTHOR_2_DISPLAY_NAME</span>
              </a>
              <span class="header-publication-date">
                –
                <time itemprop="datePublished" datetime="2021-11-26">
                  26. November 2021
                </time>
              </span>
            </p>
          </div>
        </section>
      </header>
      <div class="content-container white-dot-pattern">
        <div class="content-gradient-overlay"></div>
        <div class="content-gradient-cover"></div>
        <article class="container" itemscope itemtype="http://schema.org/Article">
          <section class="prose">
            <p class="lead">
              Dies ist das Beispiel-Template für eine Story auf <a href="https://stories.stadtpuls.com">stories.stadtpuls.com</a>. Du kannst dieses Template verwenden, um deine eigene Story zu erstellen, den Code dafür <a href="https://github.com/technologiestiftung/stadtpuls-story-template">findest du auf Github</a>.
            </p>
            <p class="lead">
              Die folgenden Textbeispiele geben dir einen Überblick, welche vorgefertigten Style-Elemente dir für die Gestaltung deiner eigenen Story zur Verfügung stehen.
            </p>
            <h2>Dies ist eine Standard-Headline</h2>
            <p>
              Dies ist ein <a href="https://www.stadtpuls.com" target="blank">Beispiel für einen Link</a>. Code kannst Du auf diese Weise kennzeichnen: <code>&lt;code&gt;Beispiel&lt;/code&gt;</code>.
            </p>
            <p>
              Info-Boxen eignen sich gut, um wichtige Hinweise oder Anmerkungen zu kennzeichnen. Dieses Template verfügt über drei verschiedene Varianten: 
            </p>
            <section class="alert alert-warning">
              <p>
                <b>Warning-Box</b>
              </p>
              <p>
                Dies ist ein Beispiel für eine Warning-Box.
              </p>
            </section>
            <section class="alert alert-error">
              <p>
                <b>Fehler-Box</b>
              </p>
              <p>
                Dies ist ein Beispiel für eine Fehler-Box.
              </p>
            </section>
            
            <section class="alert alert-info">
              <p>
                <b>Alert-Box</b>
              </p>
              <p>
                Dies ist ein Beispiel für eine Alert-Box.
              </p>
            </section>
            <h2>Code</h2>
            <p>
              Code-Snippets kannst Du mit <code>&lt;pre class="wide-block"&gt;&lt;code&gt;&lt;/code&gt;&lt;/pre></code> kennzeichnen, dein Code wird mittels Syntax Highlighting strukturiert, so wie hier gezeigt:
            </p>
            <pre
              class="wide-block"
            ><code>module.exports = function (options = {}) {
const {
  insert = { after: 'h1' },
  title = 'Content',
  ignoreMissingSelector = false,
  ignoreMissingHeadings = false,
  toggle // ['show', 'hide', true],
} = options

if (typeof insert !== 'object') {
  throw new PostHtmlTocError(`unexpected 'options.insert': ${insert}`)
}

const insertKeys = Object.keys(insert)

switch (insertKeys.length) {
  case 1:
    break
  case 0:
    throw new PostHtmlTocError(`empty 'options.insert'`)
  default:
    throw new PostHtmlTocError(`too many keys in 'options.insert': ${insertKeys}`)
}

const position = insertKeys[0]
const selector = insert[position]</code></pre>
            <hr />
            <h3>Interaktive Diagramme</h3>
          </section>
          <section class="wide-block chart1-container white-dot-pattern">
            <ul>
              <li class="pl-6 relative">
                <span style="--data-color: #1e1a5a"></span>
                Internet Of Things
              </li>
              <li class="pl-6 relative">
                <span style="--data-color: #332f66"></span>
                Datenforschung
              </li>
              <li class="pl-6 relative">
                <span style="--data-color: #4a4878"></span>
                Datenvisualisierung
              </li>
              <li class="pl-6 relative">
                <span style="--data-color: #636188"></span>
                Weiteres
              </li>
              <li class="pl-6 relative">
                <span style="--data-color: #787696"></span>
                Datenstudie
              </li>
              <li class="pl-6 relative">
                <span style="--data-color: #9695ae"></span>
                Datenlehre
              </li>
              <li class="pl-6 relative">
                <span style="--data-color: #b4b4c7"></span>
                Journalismus
              </li>
            </ul>
            <div class="order-first lg:order-none">
              <canvas id="chart1"></canvas>
            </div>
            <ul
              class="max-w-[200px] flex flex-col gap-2 text-sm justify-center"
            >
              <li class="pl-6 relative">
                <span style="--data-color: #8330ff"></span>
                Datenarchitektur
              </li>
              <li class="pl-6 relative">
                <span style="--data-color: #46eca1"></span>
                Datenwissenschaft
              </li>
              <li class="pl-6 relative">
                <span style="--data-color: #0000c2"></span>
                Datenanalyse
              </li>
            </ul>
          </section>
          <section class="prose">
            <p>
              Wenn Du auf Daten aus deinem Diagramm Bezug nimmst, kannst du diese entsprechend farblich kennzeichnen, z.B. so: 
              <span class="tag" style="--data-color: var(--purple)"
                >Datenarchitektur</span
              >, 
              <span class="tag" style="--data-color: var(--green)"
                >Datenwissenschaft</span
              > oder 
              <span class="tag" style="--data-color: var(--blue)"
                >Datenanalyse</span
              >.
            </p>
          </section>
          <section class="wide-block chart2-container">
            <canvas id="chart2"></canvas>
          </section>
          <section class="prose">
            <p>
              Du möchtest die originalen Sensordaten von <a href="https://www.stadtpuls.com" target="blank">Stadtpuls</a> in deine Geschichte aufnehmen? Auch dafür gibt es eine einfache Möglichkeit. Füge lediglich die Sensor-ID in diesen HREF tag ein, um einen Vorschaulink zu generieren: <code>&lt;a class="sensor-card" data-sensor-id="28"&gt;&lt;/a&gt;</code>
            </p>
            <a class="sensor-card" data-sensor-id="28"></a>

          </section>
            <section class="prose">
            <p>
              Das war es auch schon. Weitere Informationen zum Template findest du im <a href="https://github.com/technologiestiftung/stadtpuls-story-template">Github Repository</a>. Wir wünschen dir viel Erfolg beim Experimentieren und Nutzen des Templates!
            </p>
          </section>

          <section class="authors-container">
            <div class="author-block" itemprop="author">
              <img
                class="author-portrait"
                src="/template/images/author-1.png"
                alt="Portrait of STORY_AUTHOR_1_DISPLAY_NAME"
              />
              <div>
                <h3>STORY_AUTHOR_1_DISPLAY_NAME</h3>
                <small>STORY_AUTHOR_1_ROLE</small>
                <p>STORY_AUTHOR_1_BIO</p>
                <footer>
                  <a href="https://stadpuls.com/STORY_AUTHOR_1_STADTPULS_USERNAME">@STORY_AUTHOR_1_STADTPULS_USERNAME</a>
                  <a href="STORY_AUTHOR_1_PORTFOLIO_URL">Portfolio</a>
                </footer>
              </div>
            </div>
            <div class="author-block" itemprop="author">
              <img
                class="author-portrait"
                src="/template/images/author-2.png"
                alt="Portrait of STORY_AUTHOR_2_DISPLAY_NAME"
              />
              <div>
                <h3>STORY_AUTHOR_2_DISPLAY_NAME</h3>
                <small>STORY_AUTHOR_2_ROLE</small>
                <p>STORY_AUTHOR_2_BIO</p>
                <footer>
                  <a href="https://stadpuls.com/STORY_AUTHOR_2_STADTPULS_USERNAME">@STORY_AUTHOR_2_STADTPULS_USERNAME</a>
                  <a href="https://stadpuls.com/STORY_AUTHOR_2_TWITTER_USERNAME">Twitter</a>
                </footer>
              </div>
            </div>
          </section>
        </article>
        <footer class="white-dot-pattern">
          <section class="container">
            <div class="sharing-info">
              <h2>Hat's dir gefallen?</h2>
              <p>Dann kannst du diese Story hier teilen:</p>
              <div class="sharing-links">
                <!-- Twitter (url, text, @mention) -->
                <a
                  class="share-btn"
                  href="https://twitter.com/share?url=https://stories.stadtpuls.com/example-die-gruende-warum-wir-stadtpuls-lieben&text=Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer quis gravida quam. Vestibulum iaculis ligula id malesuada convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris lobortis eu ipsum id mollis. Nam laoreet elit massa, sed ultrices dolor ultrices nec.via=citylabberlin"
                >
                  Twitter
                </a>
                <!-- Facebook (url) -->
                <a
                  class="share-btn"
                  href="https://www.facebook.com/sharer/sharer.php?u=https://stories.stadtpuls.com/example-die-gruende-warum-wir-stadtpuls-lieben"
                >
                  Facebook
                </a>
                <!-- LinkedIn (url, title, summary, source url) -->
                <a
                  class="share-btn"
                  href="https://www.linkedin.com/shareArticle?url=https://stories.stadtpuls.com/example-die-gruende-warum-wir-stadtpuls-lieben&title=Die Gründe, warum wir Stadtpuls lieben&summary=Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer quis gravida quam. Vestibulum iaculis ligula id malesuada convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris lobortis eu ipsum id mollis. Nam laoreet elit massa, sed ultrices dolor ultrices nec.&source=https://stories.stadtpuls.com"
                >
                  LinkedIn
                </a>
                <!-- Email (subject, body) -->
                <a class="share-btn" href="mailto:?subject=Die Gründe, warum wir Stadtpuls lieben&body=https://stories.stadtpuls.com/example-die-gruende-warum-wir-stadtpuls-lieben">
                  Email
                </a>
            </div>
          </section>
          <section class="code-section black-dot-pattern">
            <section class="container">
              <div class="code-info">
                <h2>Schreib’ deine eigene Geschichte!</h2>
                <p>Mit unserem vorgefertigten HTML/CSS Template.</p>
                <div class="code-links">
                  <a
                    class="share-btn"
                    href="https://github.com/technologiestiftung/stadtpuls-story-template"
                  >

                    Auf GitHub herunterladen
                  </a>
                </div>
              </div>
              <div class="code-halo"></div>
              <pre class="code-example">
                <code>&lt;a
  href=&quot;/&quot;
  title=&quot;Back to the overview&quot;
  class=&quot;header-back-link&quot;
&gt;
  &larr; Alle Stories sehen
&lt;/a&gt;
&lt;div&gt;
  &lt;h1 class=&quot;header-title&quot;&gt;
    STORY_TITLE
  &lt;/h1&gt;
  &lt;p class=&quot;header-publication-info&quot;&gt;
    &lt;a
      class=&quot;header-profile-link&quot;
      href=&quot;https://stadtpuls.com/accounts/STORY_AUTHOR_1_STADTPULS_USERNAME&quot;
    &gt;
      STORY_AUTHOR_1_DISPLAY_NAME
    &lt;/a&gt;
    &lt;span class=&quot;header-profile-separator&quot;&gt;&amp;&lt;/span&gt;
    &lt;a
      class=&quot;header-profile-link&quot;
      href=&quot;https://stadtpuls.com/accounts/STORY_AUTHOR_2_STADTPULS_USERNAME&quot;
    &gt;
      STORY_AUTHOR_2_DISPLAY_NAME
    &lt;/a&gt;</code>
            </section>
          </section>
          <section class="finance">
            <ul class="container">
              <li>
                &nbsp;
                <a href="https://www.citylab-berlin.org/">
                  <img
                    src="/common/images/citylab-logo.svg"
                    alt="Logo des CityLABs Berlin"
                  />
                </a>
              </li>
              <li>
                Ein Projekt der:
                <a href="https://technologiestiftung-berlin.de/">
                  <img
                    src="/common/images/tsb-logo.svg"
                    alt="Logo der Technologiestiftung Berlin"
                  />
                </a>
              </li>
              
              <li>
                Gefördert von:
                <a href="https://www.berlin.de/">
                  <img
                    src="/common/images/berlin-logo.svg"
                    alt="Logo der Stadt Berlin"
                  />
                </a>
              </li>
            </ul>
          </section>
          <section class="credits">
            <div class="container">
              <span>
                © 2021 Technologiestiftung Berlin
              </span>
              <div class="links">
                <a href="https://www.technologiestiftung-berlin.de/de/impressum/">Impressum</a>
                <a href="https://www.technologiestiftung-berlin.de/de/datenschutz/">Datenschutzerklärung</a>
              </div>  
            </div>
          </section>
        </footer>
      </div>
    </main>
    <script src="/common/vendor/js/highlight.min.js" type="text/javascript"></script>
    <script src="/common/vendor/js/chart.min.js" type="text/javascript"></script>
    <script src="/common/vendor/js/mapbox-gl.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      hljs.highlightAll();
      mapboxgl.accessToken = "pk.eyJ1IjoidGVjaG5vbG9naWVzdGlmdHVuZyIsImEiOiJja2dxZ28xcmwwNW12MnhwMmhheGQyYnYwIn0.Ffzn6ClW1CSbb9HESTJ3Pw";
    </script>
    <script src="/common/sensor-cards.js" type="text/javascript"></script>
    <script src="charts.js" type="text/javascript"></script>
  </body>
</html>
