<header class="relative overflow-hidden bg-black-dot-pattern">
  <section
    class="
      px-8
      sm:px-12
      md:px-16
      lg:px-20
      pt-6
      sm:pt-8
      md:pt-10
      lg:pt-12
      pb-36
      sm:pb-40
      max-w-4xl
      mx-auto
      w-full
      h-full
      z-10
      flex flex-col
      justify-between
      relative
    "
  >
    <a
      href="https://stadtpuls.com"
      title="Die Hauptseite von Stadtpuls"
      class="transition-opacity hover:opacity-60"
    >
      <img src="images/logo.svg" alt="Stadtpuls Logo" width="157px" />
    </a>
    <div itemscope itemtype="http://schema.org/Article">
      <h1
        class="
          text-white text-4xl
          lg:text-5xl
          font-bold font-headline
          mb-4
          mt-20
        "
        itemprop="name"
      >
        Der Beginn einer neuen Datengeschichte
      </h1>
      <h2 class="text-white text-xl lg:text-2xl opacity-90 mb-4">
        Mit den Stadtpuls-Daten werden neue Erkenntnisse über die Stadt
        gewonnen, verarbeitet und ausgewertet, um neue spannende Einsichten zu
        gewinnen.
      </h2>
      <p class="text-white text-sm lg:text-base">
        <a
          class="transition-opacity hover:opacity-80"
          href="https://stadtpuls.com/accounts/maxmusta"
          target="_blank"
          rel="noreferrer noopener"
          itemprop="author"
        >
          <img
            class="inline-block"
            src="https://source.boringavatars.com/pixel/24/maxmusta?colors=F9FCFD,100C53,0000C2,46ECA1,8330FF,F2F3F8,CFD0DC"
            alt="Avatar of maxmusta"
          />
          <span class="mx-1 inline-block underline underline-green"
            >Max Mustermann</span
          >
        </a>
        <span class="opacity-80">
          –
          <time itemprop="datePublished" datetime="2021-10-25"
            >25. Oktober 2021</time
          ></span
        >
      </p>
    </div>
  </section>
  <img
    class="absolute top-0 left-0 w-full h-full object-cover opacity-40"
    src="images/story-cover.jpg"
    alt="DIE BESCHREIBUNG DEINES STORY-COVER HIER"
  />
  <div
    class="
      bg-purple
      absolute
      inset-0
      pointer-events-none
      mix-blend-color
      opacity-80
    "
    aria-hidden="true"
  ></div>
</header>
