/* FONTS IMPORT */
/* ------------------------------------------------------- */
@font-face {
  font-family: 'Sora';
  src: url('fonts/Sora-Regular.woff2') format('woff2'),
    url('fonts/Sora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sora';
  src: url('fonts/Sora-Italic.woff2') format('woff2'),
    url('fonts/Sora-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Sora';
  src: url('fonts/Sora-Bold.woff2') format('woff2'),
    url('fonts/Sora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Sora';
  src: url('fonts/Sora-BoldItalic.woff2') format('woff2'),
    url('fonts/Sora-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('fonts/SpaceGrotesk-Light.woff2') format('woff2'),
    url('fonts/SpaceGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
    url('fonts/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
    url('fonts/SpaceGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
    url('fonts/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('fonts/SpaceGrotesk[wght].woff2') format('woff2'),
    url('fonts/SpaceGrotesk[wght].woff') format('woff');
  font-weight: 300 700;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('fonts/SpaceGrotesk[wght].woff2') format('woff2'),
    url('fonts/SpaceGrotesk[wght].woff') format('woff');
  font-weight: 300 900;
  font-style: monospace;
}

/* VARIABLES */
/* ------------------------------------------------------- */
:root {
  /* COLORS */
  /* ----------------------------------------------------- */
  --white: #f9fcfd;
  --black: #100c53;
  --blue: #0000c2;
  --green: #46eca1;
  --purple: #8330ff;
  --gray-50: #f2f3f8;
  --gray-100: #e7eaf2;
  --gray-200: #cfd0dc;
  --gray-300: #b4b4c7;
  --gray-400: #dbdaeb;
  --gray-500: #787696;
  --gray-600: #636188;
  --gray-700: #4a4878;
  --gray-800: #332f66;
  --gray-900: #1e1a5a;
  --error: #ff568d;
  --warning: #ffb756;

  /* FONT */
  /* ----------------------------------------------------- */
  --font-body: 'Sora', 'ui-sans-serif', 'system-ui', '-apple-system',
    'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-headline: 'SpaceGrotesk', 'ui-sans-serif', 'system-ui', '-apple-system',
    'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-monospace: 'SpaceMono', monospace;

  /* RESPONSIVE SIZES */
  /* ----------------------------------------------------- */
  --xs: 20rem;
  --sm: 24rem;
  --md: 28rem;
  --lg: 32rem;
  --xl: 36rem;

  /* LAYOUT */
  /* ----------------------------------------------------- */
  --content-max-width: 900px;
  --hero-bg-color: var(--purple);
}

/* BASE */
/* ------------------------------------------------------- */
html {
  font-size: 4px;
}

body {
  font-size: 4rem;
}

body,
html {
  background-color: var(--white);
  font-family: var(--font-body);
}

main {
  max-width: 100vw;
  overflow-x: hidden;
}

html.no-scroll {
  overflow: hidden;
}

/* RECURENT */
/* ------------------------------------------------------- */
a,
.prose a {
  color: var(--blue);
  transition: color 200ms ease-out, opacity 200ms ease-out,
    text-decoration-color 200ms ease-out;
  text-decoration: underline;
  text-decoration-color: var(--green);
}

.prose p pre,
.prose p code,
.prose .tag {
  font-family: var(--font-monospace);
  font-weight: normal;
  display: inline-block;
  padding: 3px 4px;
  line-height: 120%;
  font-size: 105%;
  border-radius: 3px;
  background: var(--gray-100);
  color: var(--gray-800);
}

.prose p code::before,
.prose p code::after {
  content: '';
}

.prose .emoji {
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  display: inline-block;
  margin-right: 2rem;
}

.prose .tag {
  font-family: var(--font-body);
  font-size: 95%;
}

.prose .tag::before {
  content: '';
  width: 4rem;
  height: 4rem;
  display: inline-block;
  background: var(--data-color);
  vertical-align: middle;
  margin-right: 3px;
  border-radius: 3px;
  transform: translateY(-1px);
}

a:hover {
  color: var(--purple);
}

button a:focus,
a:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--white), 0 0 0 6px var(--green);
}

h1,
h2,
h3,
h4,
h5,
h6,
[class~='lead'] {
  font-family: var(--font-headline);
}

button a {
  text-decoration: none;
  font-size: inherit;
  color: var(--black);
}

button:hover a {
  color: var(--purple);
}

.white-dot-pattern {
  background-color: var(--white);
  background-image: url('images/patterns/white.svg');
}

.black-dot-pattern {
  background-color: var(--black);
  background-image: url('images/patterns/black.svg');
}

/* LAYOUT */
/* ------------------------------------------------------- */
main {
  min-height: 100vh;
}

/* HEADER */
/* ----------------------------------------------------- */
header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header > section {
  padding: 6rem 6rem 12rem;
  max-width: var(--content-max-width);
  margin: 0 auto;
  color: var(--white);
  width: 100vw;
}

@media screen and (min-width: 640px) {
  header > section {
    padding: 8rem 12rem 42rem;
  }
}

@media screen and (min-width: 900px) {
  header > section {
    padding: 10rem 14rem 42rem;
  }
}

@media screen and (min-width: 1024px) {
  header > section {
    padding: 12rem 16rem 42rem;
  }
}

header a {
  color: var(--white);
}

header a:hover {
  color: var(--green);
  text-decoration-color: var(--purple);
}

header a:focus {
  box-shadow: 0 0 0 3px var(--black), 0 0 0 6px var(--green);
}

.header-logo {
  display: inline-flex;
  transition: opacity 200ms ease-out;
  position: relative;
  gap: 4rem;
  font-size: 5rem;
  text-decoration: none;
  font-style: italic;
  align-items: center;
  line-height: 100%;
}

.header-logo > span {
  opacity: 0.8;
  transition: opacity 200ms ease-out, color 200ms ease-out;
}

.header-logo:hover > img {
  opacity: 0.6;
  transition: opacity 200ms ease-out;
}

.header-logo:hover > span {
  opacity: 0.4;
  color: var(--white);
}

.header-title {
  font-size: 9rem;
  line-height: 11rem;
  font-weight: 700;
  margin-bottom: 4rem;
  margin-top: 20rem;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .header-title {
    font-size: 12rem;
    line-height: 14rem;
  }
}

.header-publication-info {
  font-size: 3.5rem;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .header-publication-info {
    font-size: 4rem;
  }
}

.header-profile-separator {
  padding: 0 1rem;
  opacity: 0.8;
}

.header-profile-img {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-color: var(--white);
  border-radius: 50%;
}

.header-profile-link {
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  font-weight: normal;
}

.header-hero-img,
.header-hero-color,
.header-hero-squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  z-index: 0;
}

.header-hero-color {
  background: var(--hero-bg-color);
  opacity: 0.8;
  mix-blend-mode: color;
  pointer-events: none;
  z-index: 0;
}

.header-hero-squares {
  background: url('images/header-squares.svg') no-repeat bottom center;
  pointer-events: none;
  z-index: 5;
  mix-blend-mode: color-dodge;
}

@media screen and (max-width: 900px) {
  .header-hero-squares {
    opacity: 0;
  }
}

.header-publication-date {
  opacity: 0.8;
}

/* CONTENT */
/* ------------------------------------------------------- */
.content-container {
  position: relative;
}

/* GRADIENT */
/* ------------------------------------------------------- */
.content-gradient-overlay,
.content-gradient-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50%;
  left: 0;
  pointer-events: none;
  background: linear-gradient(
    to top,
    var(--white) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.content-gradient-cover {
  top: 50%;
  bottom: 0;
  background: var(--white);
}

/* CONTAINERS */
/* ------------------------------------------------------- */
.container {
  padding: 10rem 10rem 10rem;
  max-width: var(--content-max-width);
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 640px) {
  .container {
    padding: 10rem 12rem;
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding: 12rem 14rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 14rem 16rem;
  }
}

/* ARTICLE WRAPPER */
/* ------------------------------------------------------- */
article {
  background: var(--white);
  min-height: calc(50vh+20rem);
}

@media screen and (min-width: 640px) {
  article.container {
    margin-top: -28rem;
  }
}

/* PROSE CONTAINER */
/* ------------------------------------------------------- */

.prose {
  font-size: 3.5rem;
  max-width: 100%;
}

@media screen and (min-width: 900px) {
  .prose {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .prose {
    font-size: 4.5rem;
  }
}

/* WIDE BLOCK */
/* ------------------------------------------------------- */
article .wide-block {
  width: calc(100% + 20rem);
  margin: 6rem 0;
  margin-left: -10rem;
  padding: 8rem 10rem;
}

@media screen and (min-width: 640px) {
  article .wide-block {
    padding: 10rem 12rem;
    width: calc(100% + 24rem);
    margin: 8rem 0;
    margin-left: -12rem;
  }
}

@media screen and (min-width: 900px) {
  article .wide-block {
    padding: 12rem 14rem;
    width: calc(100% + 28rem);
    margin: 9rem 0;
    margin-left: -14rem;
  }
}

@media screen and (min-width: 1024px) {
  article .wide-block {
    padding: 14rem 16rem;
    width: calc(100% + 32rem);
    margin: 10rem 0;
    margin-left: -16rem;
  }
}

/* LEAD INTRODUCTION */
/* ------------------------------------------------------- */
.prose [class~='lead'] {
  color: var(--gray-700);
}

/* CODE BLOCK */
/* ------------------------------------------------------- */
.prose pre code.hljs {
  padding: 0;
}

.prose > pre {
  font-family: var(--font-monospace);
  font-size: 100%;
  background: var(--black);
  color: var(--white);
  padding-right: 0 !important;
}

.prose code .hljs-comment {
  color: var(--gray-500);
}

.prose code .hljs-title {
  color: #c855fa;
}

.prose code .hljs-attr {
  color: var(--warning);
}

.prose code .hljs-literal,
.prose code .hljs-number {
  color: var(--error);
}

.prose code .hljs-built_in,
.prose code .hljs-keyword,
.prose code .hljs-section,
.prose code .hljs-selector-tag {
  color: #1cfce6;
}

.prose code .hljs-addition,
.prose code .hljs-attribute,
.prose code .hljs-bullet,
.prose code .hljs-code,
.prose code .hljs-deletion,
.prose code .hljs-quote,
.prose code .hljs-regexp,
.prose code .hljs-selector-attr,
.prose code .hljs-selector-class,
.prose code .hljs-selector-pseudo,
.prose code .hljs-string,
.prose code .hljs-symbol,
.prose code .hljs-template-tag {
  color: var(--green);
}

/* ALERTS */
/* ------------------------------------------------------- */
.alert {
  background: var(--gray-50);
  font-size: 100%;
  width: calc(100% + 10rem);
  padding: 5rem 5rem;
  margin: 5rem 0;
  margin-left: -5rem;
}

.alert > p:first-of-type {
  margin-top: 0;
}

.alert > p:last-of-type {
  margin-bottom: 0;
}

.alert-info {
  box-shadow: -2rem 0 0 0 var(--blue);
}

.alert-error {
  box-shadow: -2rem 0 0 0 var(--error);
}

.alert-warning {
  box-shadow: -2rem 0 0 0 var(--warning);
}

@media screen and (min-width: 640px) {
  article .alert {
    width: calc(100% + 12rem);
    padding: 6rem 6rem;
    margin: 6rem 0;
    margin-left: -6rem;
  }
}

@media screen and (min-width: 900px) {
  article .alert {
    width: calc(100% + 14rem);
    padding: 7rem 7rem;
    margin: 7rem 0;
    margin-left: -7rem;
  }
}

@media screen and (min-width: 1024px) {
  article .alert {
    width: calc(100% + 16rem);
    padding: 8rem 8rem;
    margin: 8rem 0;
    margin-left: -8rem;
    font-size: 90%;
  }
}

/* SENSOR CARD */
/* ------------------------------------------------------- */
article a.sensor-card {
  display: block;
  position: relative;
  background: var(--white);
  box-shadow: 0 4px 0 var(--gray-50);
  border: 1px solid var(--gray-200);
  width: calc(100% + 12rem);
  padding: 6rem 6rem 40% 6rem;
  margin: 6rem 0;
  margin-left: -6rem;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
  transition: border 200ms ease-out, box-shadow 200ms ease-out,
    color 200ms ease-out;
}

article a.sensor-card:hover {
  color: var(--purple);
  border-color: var(--purple);
  box-shadow: 0 4px 0 var(--purple);
}

article a.sensor-card:hover .sensor-card-title {
  color: var(--purple);
}

article .sensor-card-title {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin: 0;
  font-size: 160%;
}

article .sensor-card-metadata {
  display: flex;
  gap: 6rem;
  margin-top: 3rem;
}

article .sensor-card-type {
  display: flex;
  gap: 2rem;
  background: #eafaf3;
  color: var(--blue);
  align-items: center;
  padding: 1rem 3rem;
}

article .sensor-card-author {
  display: flex;
  gap: 2rem;
  align-items: center;
}

article .sensor-card-author span {
  display: inline-block;
  white-space: nowrap;
}

article .sensor-card img {
  margin: 0;
}

article .sensor-card-graphics {
  position: absolute;
  background: var(--gray-50);
  height: calc(35vw - 6rem);
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}

article .sensor-card-graphics > canvas {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 100%;
}

article .sensor-card-graphics-gradient {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: linear-gradient(
    to top,
    var(--white) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

article .sensor-card-map {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 640px) {
  article a.sensor-card {
    width: calc(100% + 12rem);
    padding: 6rem 40% 6rem 6rem;
    margin: 6rem 0;
    margin-left: -6rem;
  }

  article .sensor-card-graphics {
    width: calc(40% - 12rem);
    height: 100%;
    left: auto;
    top: 0;
  }
}

@media screen and (min-width: 900px) {
  article a.sensor-card {
    width: calc(100% + 14rem);
    padding: 7rem 40% 7rem 7rem;
    margin: 7rem 0;
    margin-left: -7rem;
  }

  article .sensor-card-graphics {
    width: calc(40% - 14rem);
  }
}

@media screen and (min-width: 1024px) {
  article a.sensor-card {
    width: calc(100% + 16rem);
    padding: 8rem 40% 8rem 8rem;
    margin: 8rem 0;
    margin-left: -8rem;
    font-size: 90%;
  }

  article .sensor-card-graphics {
    width: calc(40% - 16rem);
  }
}

/* AUTHOR */
/* ------------------------------------------------------- */
.authors-container {
  margin: 32rem 0;
  padding: 16rem 0 0;
  border-top: 1px solid var(--gray-100);
  display: grid;
  gap: 16rem;
}

@media screen and (min-width: 900px) {
  .authors-container {
    grid-template-columns: 1fr 1fr;
  }
}

.author-block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

@media screen and (min-width: 640px) {
  .author-block {
    grid-template-columns: 32rem 1fr;
    gap: 8rem;
  }
}

.author-block img {
  width: 32rem;
}

.author-block h3 {
  grid-area: title;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.author-block small {
  color: var(--gray-500);
  display: block;
  margin-bottom: 2rem;
}

.author-block p {
  grid-area: description;
  font-size: 3.5rem;
  line-height: 5rem;
}

.author-block footer {
  margin-top: 3rem;
}

.author-block footer > a:not(:first-of-type) {
  margin-left: 2rem;
  padding-left: 2rem;
  border-left: 1px solid var(--gray-100);
}

/* FOOTER */
/* ------------------------------------------------------- */
footer {
  position: relative;
  font-size: 3.5rem;
  line-height: 4rem;
}

/* SHARING INFO */
/* ------------------------------------------------------- */
.sharing-info h2 {
  font-weight: bold;
  margin: 0;
}

.sharing-info p {
  font-size: 120%;
  line-height: 130%;
}

.sharing-links {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* SOCIAL BUTTON CSS */
/* ------------------------------------------------------- */
.prose .share-btn {
  display: inline-block;
  color: var(--purple);
  border: 1px solid var(--purple);
  padding: 0.2em 0.8em;
  text-decoration: none;
  outline: none;
  text-align: center;
  margin: 0;
  transition: all 200ms ease-out;
}

.share-btn:focus,
.share-btn:hover {
  color: var(--blue);
  border: 1px solid var(--green);
  text-decoration: none;
  opacity: 0.8;
}

.share-btn:active {
  color: #e2e2e2;
}

/* FINANCE */
/* ------------------------------------------------------- */
.finance {
  background: var(--white);
}

.finance > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}

.finance > ul > li {
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
  color: var(--gray-700);
  gap: 4rem;
}

.finance > ul > li img {
  height: 10rem;
}

/* CREDITS */
/* ------------------------------------------------------- */
.credits {
  background: var(--gray-50);
}

.credits .container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: var(--gray-500);
  font-size: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.credits .links {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.credits a {
  color: var(--gray-500);
}

.credits a:hover {
  color: var(--blue);
}

/* STORIES LIST */
/* ------------------------------------------------------- */
article a.stories-list-item {
  display: block;
  text-decoration: none;
  position: relative;
  transition: border 200ms ease-out, box-shadow 200ms ease-out,
    color 200ms ease-out;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 240px auto;
  border: 1px solid var(--gray-200);
  box-shadow: 0 4px 0 var(--gray-50);
  margin-bottom: 10rem;
}

article a.stories-list-item:hover {
  border-color: var(--purple);
  box-shadow: 0 4px 0 var(--purple);
}

article .stories-list-item-content > * {
  transition: color 200ms ease-out;
}

article a.stories-list-item:hover .stories-list-item-content > * {
  color: var(--purple);
}

article .stories-list-item-cover {
  position: relative;
}

article .stories-list-item-cover > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

article .stories-list-item-cover:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--purple);
  mix-blend-mode: color;
  z-index: 2;
}

article .stories-list-item-content {
  padding: 10rem;
  color: var(--black);
  font-size: 100%;
}

article h3.stories-list-item-title {
  font-size: 150%;
  line-height: 120%;
  margin: 0 0 2rem 0;
}

article p.stories-list-item-publication-info {
  display: flex;
  column-gap: 3rem;
  flex-wrap: wrap;
}

article span.stories-list-item-profile-name {
  display: flex;
  gap: 1.5rem;
}

article span.stories-list-item-profile-name > img {
  margin: 0;
}

@media screen and (min-width: 640px) {
  article a.stories-list-item {
    display: grid;
    grid-template-columns: 1fr 45%;
    grid-template-rows: auto;
  }

  article .stories-list-item-content {
    order: -1;
  }
}

@media screen and (min-width: 900px) {
  article a.stories-list-item {
    border: 1px solid var(--gray-200);
  }
}

/* CHARTS */
/* ------------------------------------------------------- */
/* CHART 1 */
/* ------------------------------------------------------- */
.chart1-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
  padding: 10rem 8rem;
  position: relative;
  margin: 0 auto;
  max-width: var(--content-max-width);
}

@media screen and (min-width: 640px) {
  .chart1-container {
    padding: 12rem 10rem;
  }
}

@media screen and (min-width: 900px) {
  .chart1-container {
    padding: 14rem 16rem;
  }
}

@media screen and (min-width: 1024px) {
  .chart1-container {
    padding: 16rem 20rem;
  }
}

.chart1-container > ul {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 3.5rem;
  justify-content: center;
}

.chart1-container > ul > li {
  padding-left: 6rem;
  position: relative;
}

.chart1-container > ul > li > span {
  position: absolute;
  left: 0;
  top: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 3px;
  display: inline-block;
  background: var(--data-color);
}
